.testimonial-container {
  width: 100%;
  padding: 4rem;
  text-align: left;
  font-size: var(--text-body-size);
  color: var(--color-darkslategray);
  font-family: var(--text-hero);
}

.testimonials-title,
.testimonials-paragraph {
  letter-spacing: 0.05em;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
}
.testimonials-title {
  font-size: var(--text-hero-size);
}
.testimonials-paragraph {
  font-size: var(--h3-size);
  font-family: inherit;
}

.testimonial-comment-container {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}
.testimonial-comment {
  width: 49%;
  background-color: var(--color-azure);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
.testimonial-comment-image {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.testimonial-comment-info {
  width: 100%;
  padding: 1rem;
  border-radius: var(--br-8xs);
}
.testimonial-comment-name {
  font-size: var(--text-hero-size);
  letter-spacing: 0.05em;
  line-height: 26.5px;
  text-transform: capitalize;
  color: var(--color-black);
  font-weight: bolder;
}
.testimonial-comment-paragraph {
  letter-spacing: 0.03em;
  line-height: 144%;
  font-weight: 500;
}
.stars {
  text-align: center;
}
.vector-icon1 {
  width: 1.2rem;
  height: 1.1rem;
  margin: 0.6rem 0.2rem;
}

.contact-us-form {
  display: flex;
  width: 100%;
  padding: 4rem;
  color: var(--basic);
  background-color: var(--color-darkslategray);
}
.contact-us-child-1 {
  width: 70%;
}
.contact-us-form-heading,
.contact-us-form-heading-paragraph {
  letter-spacing: 0.05em;
  line-height: 156%;
  text-transform: capitalize;
}
.contact-us-form-heading {
  margin: 0 0 4rem;
  font-size: var(--h3-size);
  line-height: 50px;
  font-weight: 600;
  font-family: inherit;
}
.contact-us-child-2 {
  width: 30%;
}
.contact-us-btn {
  margin: 10rem 0 0 10rem;
}
