.about-us-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0 5rem;
  text-align: left;
  font-size: var(--text-hero-size);
  color: var(--color-darkslategray);
  font-family: var(--text-hero);
}
.about-us-child {
  width: 50%;
}

.about-us-shape {
  position: absolute;
  top: 109rem;
  width: 30rem;
  height: 30rem;
  border-radius: var(--br-297xl);
  background-color: var(--color-dodgerblue-200);
}
.about-us-image {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.about-us-title,
.about-us-sub-title {
  letter-spacing: 0.05em;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
}
.about-us-title {
  margin: 4rem 0 0;
}
.about-us-sub-title {
  font-size: var(--h3-size);
}
.about-us-paragraph {
  margin: 0 0 4rem;
  font-size: var(--text-body-size);
  letter-spacing: 0.03em;
  line-height: 183.5%;
  font-weight: 500;
  color: var(--color-darkgray);
}