.services-container {
  width: 100%;
  padding: 6rem 0;
  background-color: var(--color-lightcyan);
  text-align: center;
  font-size: var(--text-hero-size);
  color: var(--color-darkslategray);
  font-family: var(--text-hero);
}

.our-services-title,
.our-services-paragraph {
  letter-spacing: 0.05em;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
}
.our-services-paragraph {
  font-size: var(--h3-size);
  font-family: inherit;
}

.our-services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10rem 0 0;
}
.services-child {
  position: relative;
  width: 18rem;
  height: 16rem;
  background-color: var(--basic);
}
.services-child-icon {
  position: absolute;
  top: -3rem;
  left: 5rem;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: var(--br-8xs);
}
.services-child-title {
  margin: 8rem 0 0;
  letter-spacing: 0.05em;
  line-height: 156%;
  text-transform: capitalize;
  font-weight: 600;
}
.services-child-paragraph {
  font-size: var(--text-body-size);
  font-weight: 500;
  color: var(--color-darkgray);
}
