.hero-container {
  display: flex;
  width: 100%;
  padding: 1rem;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--color-darkslategray);
  font-family: var(--text-hero);
}
.hero-child {
  width: 50%;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 52.6rem;
  height: 53.3rem;
  border-radius: 50%;
  background-color: rgba(0, 153, 255, 0.12);
  filter: blur(200px);
}
.hero-svg-1 {
  position: absolute;
  top: 9rem;
  left: 6rem;
  width: 8rem;
  height: 9rem;
}
.hero-heading,
.hero-paragraph {
  width: 39.5rem;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.hero-heading {
  margin: 20rem 0 0;
  font-size: inherit;
  line-height: 61px;
  font-weight: 700;
  font-family: inherit;
}
.hero-paragraph {
  font-size: var(--text-hero-size);
  line-height: 156%;
  font-weight: 500;
  color: var(--color-darkgray);
}
.hero-svg-2 {
  position: absolute;
  top: 42rem;
  left: 30rem;
  width: 3.5rem;
  height: 4rem;
}

.hero-image {
  width: 43.2rem;
  height: 47.4rem;
  margin: 4rem 0 0;
  object-fit: cover;
}
