.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0 2rem;
  font-size: var(--text-hero-size);
  color: var(--color-dodgerblue-100);
  font-family: var(--text-hero);
  background-color: var(--basic);
}

.lr-col {
  width: 25%;
}

.navbar-logo {
  width: 10rem;
  height: 1.8rem;
  letter-spacing: 0.05em;
}
.second-half {
  color: var(--color-black);
}

.middle-col {
  width: 50%;
  text-align: center;
  font-size: var(--text-body-size);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.05625rem;
  text-transform: capitalize;
}
.middle-col a {
  padding: 0 2.5rem;
  text-decoration: none;
  color: var(--color-black);
}
.middle-col a:hover {
  text-decoration: none;
  color: var(--color-black);
}

.nav-btn {
  display: block;
  margin-left: auto;
}
