.our-doctors-container {
  width: 100%;
  padding: 4rem 2rem 10rem;
  background-color: var(--color-lightcyan);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--text-hero);
}

.our-doctors-title,
.our-doctors-paragraph {
  letter-spacing: 0.05em;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
}
.our-doctors-title {
  font-size: var(--text-hero-size);
}
.our-doctors-paragraph {
  font-size: var(--h3-size);
  font-family: inherit;
}

.our-doctors-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 3rem 0 0;
}
.specialist {
  width: 22%;
}
.specialist-image {
  width: 18rem;
  height: 22rem;
}
.specialist-info {
  position: absolute;
  top: 175rem;
  width: 16rem;
  margin-left: 1.5rem;
  border-radius: var(--br-8xs);
  padding: 1rem;
  background-color: var(--basic);
  text-align: left;
}
.social-media-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.6rem;
}
.our-doctors-name {
  font-size: var(--text-hero-size);
  font-weight: bolder;
  letter-spacing: 0.05em;
  line-height: 26.5px;
  text-transform: capitalize;
}
.our-doctors-profession {
  letter-spacing: 0.05em;
  line-height: 156%;
  text-transform: capitalize;
}
