.testimonial-child {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 1367px;
}
.action-contact-us-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1280px;
  height: 348px;
}
.btn-about-us1 {
  position: absolute;
  top: 220px;
  left: 990px;
}
.lets-consult-your,
.we-will-provide {
  position: absolute;
  top: 246px;
  left: 74px;
  letter-spacing: 0.05em;
  line-height: 156%;
  text-transform: capitalize;
  font-weight: 500;
}
.lets-consult-your {
  margin: 0;
  top: 74px;
  left: 82px;
  font-size: var(--h3-size);
  line-height: 50px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 677px;
}
.action-contact-us {
  position: absolute;
  top: 1019px;
  left: 80px;
  width: 1280px;
  height: 348px;
  color: var(--basic);
}
.testimonials,
.what-they-say {
  position: absolute;
  left: calc(50% - 640px);
  letter-spacing: 0.05em;
  line-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.what-they-say {
  margin: 0;
  top: 170px;
  font-size: var(--h3-size);
  font-family: inherit;
  width: 632px;
}
.testimonials {
  top: 100px;
  font-size: var(--text-hero-size);
  width: 295px;
}
.mask-group-icon,
.testi-1-child {
  position: absolute;
  left: 0;
  width: 632px;
}
.mask-group-icon {
  top: 0;
  height: 386px;
  object-fit: cover;
}
.testi-1-child {
  top: 386px;
  border-radius: var(--br-8xs);
  background-color: var(--color-azure);
  height: 206px;
}
.john-doe,
.the-service-i {
  position: absolute;
  left: 21px;
}
.the-service-i {
  top: 446px;
  letter-spacing: 0.03em;
  line-height: 144%;
  font-weight: 500;
  display: inline-block;
  width: 472px;
}
.john-doe {
  top: 410px;
  font-size: var(--text-hero-size);
  letter-spacing: 0.05em;
  line-height: 26.5px;
  text-transform: capitalize;
  color: var(--color-black);
}
.vector-icon1 {
  position: relative;
  width: 20px;
  height: 18.89px;
}
.stars,
.testi-1 {
  position: absolute;
}
.stars {
  top: 544px;
  left: 258px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.testi-1 {
  top: 325px;
  left: 80px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  width: 632px;
  height: 592px;
}
.mask-group-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 652px;
  height: 386px;
  object-fit: cover;
}
.stars1 {
  position: absolute;
  top: 544px;
  left: 268px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.testi-2 {
  position: absolute;
  top: 325px;
  left: 728px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  width: 652px;
  height: 592px;
}
.testimonial {
  position: absolute;
  top: 3343px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 1367px;
  text-align: left;
  font-size: var(--text-body-size);
  color: var(--color-darkslategray);
  font-family: var(--text-hero);
}
